<!DOCTYPE html>
<html>
	<head>
		<title>警务千度</title>
		<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1"/>
		<meta name="renderer" content="webkit">
		<link rel="stylesheet" type="text/css" href="../css/lib/normalize.css">
		<link rel="stylesheet" type="text/css" href="../css/cp-frame.css">
		<link rel="stylesheet" type="text/css" href="../css/cp-detail.css">
		<link rel="stylesheet" type="text/css" href="../css/cp-qd-detail-other.css">
		<script src="../js/lib/jquery-1.7.2.min.js"></script>
		<script src="../js/lib/click-slide.js"></script>
		<script src="../js/cp-detail.js"></script>
		<script src="../js/cp-qd-detail-experience.js"></script>
		<!--[if lt IE 9]>
		<script type="text/javascript" src="../js/lib/json2.js"></script>
		<script type="text/javascript" src="../js/lib/html5shiv.js"></script>
		<![endif]-->
	</head>
	<body>
		<div class="main-full" style="background-image: url(../images/cp-frame/cover.png)">
			<header class="header">
                <div class="wrap">
                    <div class="d-h-t">
                        <ul class="ul-h-ts">
                            <li class="li-h-t">
                                <a href="#" class="a-t-link">个人中心</a>
                            </li>
                            <li class="li-h-t">
                                <a href="#" class="a-t-link">应用中心</a>
                            </li>
                            <li class="li-h-t">
                                <a href="#" class="a-t-link">资源服务</a>
                            </li>
                            <li class="li-h-t">
                                <a href="#" class="a-t-link">在线服务</a>
                            </li>
                            <li class="li-h-t">
                                <a href="#" class="a-t-link">监控中心</a>
                            </li>
                            <li class="li-h-t">
                                <a href="#" class="a-t-link">安全中心</a>
                            </li>
                        </ul>
                        <a class="a-old a-hd">
                            旧版
                        </a>
                        <a class="a-new a-hd">
                            新版
                        </a>
                        |
                        <a class="a-exit a-hd">
                            退出
                        </a>
                    </div>
                </div>
            </header>
			<nav class="nav">
                <div class="wrap">
                    <div class="div-search">
                        <i class="icon-logo"></i>
                        <span class="sp-wrap-outter">
                            <span class="span-wrap-inner">
                                <input type="text"class="input-search"/>
                                <i class="icon-keyboard"></i>
                                <span class="span-search-btn"></span>
                            </span>
                            <span class="span-senior-btn"></span>
                        </span>
                    </div>
                </div>
            </nav>
			<nav class="nav-tabs">
				<div class="wrap">
					<ul class="ul-navs">
						<li class="li-nav active"><a class="a-nav-lk">基本信息</a></li>
						<li class="li-nav"><a class="a-nav-lk">人际关系</a></li>
						<li class="li-nav"><a class="a-nav-lk">户籍变迁</a></li>
						<li class="li-nav"><a class="a-nav-lk">案事件</a></li>
						<li class="li-nav"><a class="a-nav-lk">物品</a></li>
						<li class="li-nav"><a class="a-nav-lk">重点关注信息</a></li>
						<li class="li-nav"><a class="a-nav-lk">社会信息</a></li>
						<li class="li-nav"><a class="a-nav-lk">轨迹信息</a></li>
						<li class="li-nav"><a class="a-nav-lk">华南六省信息</a></li>
						<li class="li-nav"><a class="a-nav-lk">统计信息</a></li>
						<li class="li-nav"><a class="a-nav-lk">历史统计</a></li>
						<li class="li-nav"><a class="a-nav-lk">纳税人信息</a></li>
						<li class="li-nav"><a class="a-nav-lk">备注</a></li>
						<li class="li-nav"><a class="a-nav-lk">警务记事本</a></li>
					</ul>
				</div>
			</nav>
			<section class="section">
				<div class="wrap">
					<aside class="asd-bar">

						<div class="d-asides">
							<h2 class="h2-aside">
							人脸相似推荐
							</h2>
							<ul class="ul-similar similar-photo-people">
								<li class="li-similar">
									<img src="../images/cp-detail/similar-photo-1.png" alt="" class="img-similar-photo">
									<span class="sp-desc">
										王某某
									</span>
								</li>
								<li class="li-similar">
									<img src="../images/cp-detail/similar-photo-1.png" alt="" class="img-similar-photo">
									<span class="sp-desc">
										张某某
									</span>
								</li>
								<li class="li-similar">
									<img src="../images/cp-detail/similar-photo-1.png" alt="" class="img-similar-photo">
									<span class="sp-desc">
										任某某
									</span>
								</li>
							</ul>
							<a href="#" class="a-get-more">获取更多相似照片</a>
						</div>
						<div class="d-asides">
							<h2 class="h2-aside">
							谁也在关注TA
							</h2>
							<ul class="ul-attetion">
								<li class="li-attetion">
									<img src="../images/cp-detail/police-photo-1.png" alt="" class="img-similar-photo"/>
									<p class="p-op">
										王**
										<a href="#" class="a-at">@TA</a>
										<a href="#" class="a-at">关注</a>
										<a href="#" class="a-msg">消息</a>
									</p>
									<p class="p-ds">
										山东省济南市省厅稽查处第二分队长
									</p>
								</li>
								<li class="li-attetion">
									<img src="../images/cp-detail/police-photo-1.png" alt="" class="img-similar-photo"/>
									<p class="p-op">
										王**
										<a href="#" class="a-at">@TA</a>
										<a href="#" class="a-at">关注</a>
										<a href="#" class="a-msg">消息</a>
									</p>
									<p class="p-ds">
										山东省济南市省厅稽查处第二分队长
									</p>
								</li>
								<li class="li-attetion">
									<img src="../images/cp-detail/police-photo-1.png" alt="" class="img-similar-photo"/>
									<p class="p-op">
										王**
										<a href="#" class="a-at">@TA</a>
										<a href="#" class="a-at">关注</a>
										<a href="#" class="a-msg">消息</a>
									</p>
									<p class="p-ds">
										山东省济南市省厅稽查处第二分队长
									</p>
								</li>
								<li class="li-attetion">
									<img src="../images/cp-detail/police-photo-1.png" alt="" class="img-similar-photo"/>
									<p class="p-op">
										王**
										<a href="#" class="a-at">@TA</a>
										<a href="#" class="a-at">关注</a>
										<a href="#" class="a-msg">消息</a>
									</p>
									<p class="p-ds">
										山东省济南市省厅稽查处第二分队长
									</p>
								</li>
							</ul>
							<a href="#" class="a-get-more">更多内容</a>
						</div>
						<div class="d-asides">
							<a href="#" class="a-search-his">我的搜索记录</a>
							<a href="#" class="a-visit-his">我的访问记录</a>
						</div>
					</aside>
					<article class="art-main">
						<div class="d-c-item">
							<div class="div-tt">
								<span class="span-icons-l">
									<i class="icon icon-dna icon-dnalight"></i>
									<i class="icon icon-fingerprint icon-fplight"></i>
									<i class="icon icon-voice icon-volight"></i>
									<i class="icon icon-record "></i>
									<!-- 如果不存在该类别信息，icon-*light 去除，让图片“熄灭” -->
									<i class="icon icon-note icon-ntlight"></i>
									<i class="icon icon-arrow-l"></i>
								</span>
								<span class="span-icons-r">
									<i class="icon icon-arrow-r"></i>
									<a class="a-r-link">导出档案</a>
								</span>
								<div class="div-tags">
									<strong class="s-tag">涉毒</strong>
									<strong class="s-tag">高危</strong>
									<strong class="s-tag">上访</strong>
									<strong class="s-tag">前科</strong>
									<strong class="s-tag">在逃</strong>
								</div>
							</div>
							<div class="div-bd">
								<figure class="fg-item">
									<div class="div-img-contain" data-srcoll-horizontal> 
	                                    <i class="icon-page icon-toggle-left"></i>
	                                    <ul class="ul-rybase-photos">
	                                        <li class="li-rybase-photo">
	                                            <img src="../images/cp-detail/demo1.png" alt="人员头像" class="img-photo">
	                                        </li>
	                                        <li class="li-rybase-photo">
	                                            <img src="../images/cp-detail/demo2.png" alt="人员头像" class="img-photo">
	                                        </li>
	                                        <li class="li-rybase-photo">
	                                            <img src="../images/cp-detail/demo3.png" alt="人员头像" class="img-photo">
	                                        </li>
	                                    </ul>
	                                    <i class="icon-page icon-toggle-right"></i> 
	                                </div> 
	                                <div class="d-upload">
	                                	<span class="sp-upload">上传照片</span>
	                                </div>
								</figure>
								<div class="div-main">
									<ul class="ul-data-clsfy">
										<li class="li-data i-hotel i-not0-hotel">
											<h5 class="h5-data">旅馆</h5>
											<p class="p-data">11</p>
										</li>
										<li class="li-data i-plane i-not0-plane">
											<h5 class="h5-data">飞机</h5>
											<p class="p-data">3</p>
										</li>
										<li class="li-data i-net i-not0-net">
											<h5 class="h5-data">上网</h5>
											<p class="p-data">14</p>
										</li>
										<!-- 注意：如果数据为空,即0，可以将样式名称i-not0-*去掉,向上一样 -->
										<li class="li-data i-train ">
											<h5 class="h5-data">火车</h5>
											<p class="p-data">0</p>
										</li>
									</ul>
									<div class="div-table-detail">
										<table class="tb-detail">
											<tr>
												<td class="td-dtl">
													<span class="span-tt">姓名：</span>
													<span class="span-ct">张万华</span>
												</td>
												<td class="td-dtl">
													<span class="span-tt">国籍：</span>
													<span class="span-ct">中国</span>
												</td>
												<td class="td-dtl">
													<span class="span-tt">性别：</span>
													<span class="span-ct">男</span>
												</td>
											</tr>
											<tr>
												<td class="td-dtl">
													<span class="span-tt">身份证：</span>
													<span class="span-ct">1111111111111111111111</span>
												</td>
												<td class="td-dtl">
													<span class="span-tt">民族：</span>
													<span class="span-ct">汉族</span>
												</td>
												<td class="td-dtl">
													<span class="span-tt">生日：</span>
													<span class="span-ct">
														1975-08-09
													</span>
												</td>
											</tr>
											<tr>
												<td class="td-dtl" colspan="3">
													<span class="span-tt">住所详细地址：</span>
													<span class="span-ct">重庆市渝北区金龙路272号重庆国安局<i class="ic-anonymous"></i></span>
												</td>
											</tr>
										</table>
									</div>
								</div>
							</div>
						</div>
						<div class="d-c-item">
							<h2 class="h2-tl">
							<span class="sp-tl"><i class="icon-star"></i>人生经历</span>
							</h2>
							<div class="d-ctt">
								<div class="div-exp-contain" data-srcosll-horizontal>
									<i class="icon-page icon-toggle-left"></i>
									<ul class="ul-scroll-c" data-syear="2003">
										<li class="li-scroll-i" data-type="hotel"> 
											<span class="sp-head">
												<i class="icon-exp-0"></i>住宿
											</span>
											<span class="sp-cell"></span>
											<span class="sp-cell">1</span>
											<span class="sp-cell">3</span>
											<span class="sp-cell"></span>
											<span class="sp-cell">4</span>
											<span class="sp-cell"></span>
											<span class="sp-cell"></span>
											<span class="sp-cell">5</span>
											<span class="sp-cell"></span>
											<span class="sp-cell">8</span>
											<span class="sp-cell">1</span>
											<span class="sp-cell"></span>
											<span class="sp-cell">8</span>
											<span class="sp-cell">1</span>
										</li>
										<li class="li-scroll-i" data-type="flight"> 
											<span class="sp-head">
												<i class="icon-exp-1"></i>飞机
											</span>
											<span class="sp-cell"></span>
											<span class="sp-cell">1</span>
											<span class="sp-cell">3</span>
											<span class="sp-cell"></span>
											<span class="sp-cell"></span>
											<span class="sp-cell"></span>
											<span class="sp-cell"></span>
											<span class="sp-cell">5</span>
											<span class="sp-cell"></span>
											<span class="sp-cell">8</span>
											<span class="sp-cell">1</span>
											<span class="sp-cell"></span>
											<span class="sp-cell">8</span>
											<span class="sp-cell">1</span>
										</li>
										<li class="li-scroll-i" data-type="train">  
											<span class="sp-head">
												<i class="icon-exp-2"></i>高铁
											</span>
											<span class="sp-cell">1</span>
											<span class="sp-cell"></span>
											<span class="sp-cell">3</span>
											<span class="sp-cell"></span>
											<span class="sp-cell"></span>
											<span class="sp-cell">4</span>
											<span class="sp-cell"></span>
											<span class="sp-cell">5</span>
											<span class="sp-cell"></span>
											<span class="sp-cell">8</span>
											<span class="sp-cell">1</span>
											<span class="sp-cell"></span>
											<span class="sp-cell">8</span>
											<span class="sp-cell">1</span>
										</li>
										<li class="li-scroll-i" data-type="social"> 
											<span class="sp-head">
												<i class="icon-exp-3"></i>社会
											</span>
											<span class="sp-cell"></span>
											<span class="sp-cell">1</span>
											<span class="sp-cell">3</span>
											<span class="sp-cell"></span>
											<span class="sp-cell">4</span>
											<span class="sp-cell"></span>
											<span class="sp-cell"></span>
											<span class="sp-cell">5</span>
											<span class="sp-cell"></span>
											<span class="sp-cell">8</span>
											<span class="sp-cell">1</span>
											<span class="sp-cell"></span>
											<span class="sp-cell">8</span>
											<span class="sp-cell">1</span>
										</li>
										<li class="li-scroll-i" data-type="net">
											<span class="sp-head">
												<i class="icon-exp-4"></i>上网
											</span>
											<span class="sp-cell">1</span>
											<span class="sp-cell"></span>
											<span class="sp-cell">3</span>
											<span class="sp-cell"></span>
											<span class="sp-cell"></span>
											<span class="sp-cell"></span>
											<span class="sp-cell"></span>
											<span class="sp-cell">5</span>
											<span class="sp-cell">4</span>
											<span class="sp-cell">8</span>
											<span class="sp-cell">1</span>
											<span class="sp-cell"></span>
											<span class="sp-cell">8</span>
											<span class="sp-cell">1</span>
										</li>
										<li class="li-scroll-i" data-type="case">
											<span class="sp-head">
												<i class="icon-exp-5"></i>案件
											</span>
											<span class="sp-cell"></span>
											<span class="sp-cell">1</span>
											<span class="sp-cell">3</span>
											<span class="sp-cell"></span>
											<span class="sp-cell">4</span>
											<span class="sp-cell">2</span>
											<span class="sp-cell"></span>
											<span class="sp-cell">5</span>
											<span class="sp-cell">8</span>
											<span class="sp-cell">8</span>
											<span class="sp-cell">1</span>
											<span class="sp-cell"></span>
											<span class="sp-cell">8</span>
											<span class="sp-cell">1</span>
										</li>
										<li class="li-scroll-i" data-type="resume"> 
											<span class="sp-head">
												<i class="icon-exp-6"></i>简历
											</span>
											<span class="sp-cell"></span>
											<span class="sp-cell">大学入学</span>
											<span class="sp-cell"></span>
											<span class="sp-cell"></span>
											<span class="sp-cell"></span>
											<span class="sp-cell">大学毕业</span>
											<span class="sp-cell"></span>
											<span class="sp-cell">5</span>
											<span class="sp-cell"></span>
											<span class="sp-cell">8</span>
											<span class="sp-cell">1</span>
											<span class="sp-cell"></span>
											<span class="sp-cell">8</span>
											<span class="sp-cell">1</span>
										</li>
										<li class="li-scroll-i li-scroll-foot"> 
											<span class="sp-head">
												<i class="icon-exp-7"></i>
											</span>
											<span class="sp-cell">2003</span>
											<span class="sp-cell">2004</span>
											<span class="sp-cell">2005</span>
											<span class="sp-cell">2006</span>
											<span class="sp-cell">2007</span>
											<span class="sp-cell">2008</span>
											<span class="sp-cell">2009</span>
											<span class="sp-cell">2010</span>
											<span class="sp-cell">2011</span>
											<span class="sp-cell">2012</span>
											<span class="sp-cell">2013</span>
											<span class="sp-cell">2014</span>
											<span class="sp-cell">2015</span>
											<span class="sp-cell">2016</span>
										</li>
									</ul>
									<i class="icon-page icon-toggle-right"></i>
									<div class='d-hover hide'></div>
								</div>
							</div>
						</div>
					</article>
				</div>
			</section>
			<footer class="footer">
                <div class="wrap">
                    <p class="f-p">山东省公安厅 <em class="em-s">浪潮集团技术支持</em><em class="em-s">建议使用ie9浏览器查看</em> <i class="icon-ie"></i><a class="link-ie">下载新版IE</a></p>
                    <p class="f-p">当前在线人数：<strong class="st-y">182</strong>
                        今日访问量：<strong class="st-b">2322</strong>
                        昨日访问量：<strong class="st-b">3223</strong>
                        本周访问量：<strong class="st-b">3232</strong>
                        本月访问量：<strong class="st-b">31313</strong>
                        累计访问量：<strong class="st-b">23232323</strong>
                    </p>
                </div>
            </footer>
			<section class="sec-popup hide">
				<div class="d-popup">
					<h2 class="h2-pp"><i class="icon-close">×</i>添加照片</h2>
					<div class="d-pp-img">
						<p class="p-ins">单次只能上传一张照片</p>
						<img  src="../images/cp-detail/demo1.png" class="img-upload">
					</div>
					<div class="d-pp-btns">
						<form class="fm-ul" onsubmit="return false" enctype="multipart/form-data" method="post" >
							<span class="sp-pp-select">选择照片</span>
							<input type="file" class="ipt-upload" accept="image/png,image/gif">
							<div class="d-pp-loaded">
								<a class="a-pp-replace">替换照片</a>
								<button class="sp-pp-upload">上传照片</button>
							</div>
						</form>
					</div>
				</div>
			</section>
			<div class="mask hide"></div>
		</div>
	</body>
</html>