<!DOCTYPE html>
<html>
	<head>
		<title>警务千度</title>
		<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1"/>
		<meta name="renderer" content="webkit">
		<link rel="stylesheet" type="text/css" href="../css/lib/normalize.css">
		<link rel="stylesheet" type="text/css" href="../css/cp-frame.css">
		<link rel="stylesheet" type="text/css" href="../css/cp-detail.css">
		<link rel="stylesheet" type="text/css" href="../css/cp-qd-detail-other.css">
		<script src="../js/lib/jquery-1.7.2.min.js"></script>
		<script src="../js/lib/click-slide.js"></script>
		<script src="../js/lib/page.js"></script>
		<script src="../js/cp-detail.js"></script>
		<script src="../js/cp-qd-detail-trace.js"></script>
		<!--[if lt IE 9]>
		<script type="text/javascript" src="../js/lib/json2.js"></script>
		<script type="text/javascript" src="../js/lib/html5shiv.js"></script>
		<![endif]-->
	</head>
	<body>
		<div class="main-full" style="background-image: url(../images/cp-frame/cover.png)">
			<header class="header">
                <div class="wrap">
                    <div class="d-h-t">
                        <ul class="ul-h-ts">
                            <li class="li-h-t">
                                <a href="#" class="a-t-link">个人中心</a>
                            </li>
                            <li class="li-h-t">
                                <a href="#" class="a-t-link">应用中心</a>
                            </li>
                            <li class="li-h-t">
                                <a href="#" class="a-t-link">资源服务</a>
                            </li>
                            <li class="li-h-t">
                                <a href="#" class="a-t-link">在线服务</a>
                            </li>
                            <li class="li-h-t">
                                <a href="#" class="a-t-link">监控中心</a>
                            </li>
                            <li class="li-h-t">
                                <a href="#" class="a-t-link">安全中心</a>
                            </li>
                        </ul>
                        <a class="a-old a-hd">
                            旧版
                        </a>
                        <a class="a-new a-hd">
                            新版
                        </a>
                        |
                        <a class="a-exit a-hd">
                            退出
                        </a>
                    </div>
                </div>
            </header>
			<nav class="nav">
                <div class="wrap">
                    <div class="div-search">
                        <i class="icon-logo"></i>
                        <span class="sp-wrap-outter">
                            <span class="span-wrap-inner">
                                <input type="text"class="input-search"/>
                                <i class="icon-keyboard"></i>
                                <span class="span-search-btn"></span>
                            </span>
                            <span class="span-senior-btn"></span>
                        </span>
                    </div>
                </div>
            </nav>
			<nav class="nav-tabs">
				<div class="wrap">
					<ul class="ul-navs">
						<li class="li-nav active"><a class="a-nav-lk">基本信息</a></li>
						<li class="li-nav"><a class="a-nav-lk">人际关系</a></li>
						<li class="li-nav"><a class="a-nav-lk">户籍变迁</a></li>
						<li class="li-nav"><a class="a-nav-lk">案事件</a></li>
						<li class="li-nav"><a class="a-nav-lk">物品</a></li>
						<li class="li-nav"><a class="a-nav-lk">重点关注信息</a></li>
						<li class="li-nav"><a class="a-nav-lk">社会信息</a></li>
						<li class="li-nav"><a class="a-nav-lk">轨迹信息</a></li>
						<li class="li-nav"><a class="a-nav-lk">华南六省信息</a></li>
						<li class="li-nav"><a class="a-nav-lk">统计信息</a></li>
						<li class="li-nav"><a class="a-nav-lk">历史统计</a></li>
						<li class="li-nav"><a class="a-nav-lk">纳税人信息</a></li>
						<li class="li-nav"><a class="a-nav-lk">备注</a></li>
						<li class="li-nav"><a class="a-nav-lk">警务记事本</a></li>
					</ul>
				</div>
			</nav>
			<section class="section">
				<div class="wrap">
					<aside class="asd-bar">

						<div class="d-asides">
							<h2 class="h2-aside">
							人脸相似推荐
							</h2>
							<ul class="ul-similar similar-photo-people">
								<li class="li-similar">
									<img src="../images/cp-detail/similar-photo-1.png" alt="" class="img-similar-photo">
									<span class="sp-desc">
										王某某
									</span>
								</li>
								<li class="li-similar">
									<img src="../images/cp-detail/similar-photo-1.png" alt="" class="img-similar-photo">
									<span class="sp-desc">
										张某某
									</span>
								</li>
								<li class="li-similar">
									<img src="../images/cp-detail/similar-photo-1.png" alt="" class="img-similar-photo">
									<span class="sp-desc">
										任某某
									</span>
								</li>
							</ul>
							<a href="#" class="a-get-more">获取更多相似照片</a>
						</div>
						<div class="d-asides">
							<h2 class="h2-aside">
							谁也在关注TA
							</h2>
							<ul class="ul-attetion">
								<li class="li-attetion">
									<img src="../images/cp-detail/police-photo-1.png" alt="" class="img-similar-photo"/>
									<p class="p-op">
										王**
										<a href="#" class="a-at">@TA</a>
										<a href="#" class="a-at">关注</a>
										<a href="#" class="a-msg">消息</a>
									</p>
									<p class="p-ds">
										山东省济南市省厅稽查处第二分队长
									</p>
								</li>
								<li class="li-attetion">
									<img src="../images/cp-detail/police-photo-1.png" alt="" class="img-similar-photo"/>
									<p class="p-op">
										王**
										<a href="#" class="a-at">@TA</a>
										<a href="#" class="a-at">关注</a>
										<a href="#" class="a-msg">消息</a>
									</p>
									<p class="p-ds">
										山东省济南市省厅稽查处第二分队长
									</p>
								</li>
								<li class="li-attetion">
									<img src="../images/cp-detail/police-photo-1.png" alt="" class="img-similar-photo"/>
									<p class="p-op">
										王**
										<a href="#" class="a-at">@TA</a>
										<a href="#" class="a-at">关注</a>
										<a href="#" class="a-msg">消息</a>
									</p>
									<p class="p-ds">
										山东省济南市省厅稽查处第二分队长
									</p>
								</li>
								<li class="li-attetion">
									<img src="../images/cp-detail/police-photo-1.png" alt="" class="img-similar-photo"/>
									<p class="p-op">
										王**
										<a href="#" class="a-at">@TA</a>
										<a href="#" class="a-at">关注</a>
										<a href="#" class="a-msg">消息</a>
									</p>
									<p class="p-ds">
										山东省济南市省厅稽查处第二分队长
									</p>
								</li>
							</ul>
							<a href="#" class="a-get-more">更多内容</a>
						</div>
						<div class="d-asides">
							<a href="#" class="a-search-his">我的搜索记录</a>
							<a href="#" class="a-visit-his">我的访问记录</a>
						</div>
					</aside>
					<article class="art-main">
						<div class="d-c-item">
							<div class="div-tt">
								<span class="span-icons-l">
									<i class="icon icon-dna icon-dnalight"></i>
									<i class="icon icon-fingerprint icon-fplight"></i>
									<i class="icon icon-voice icon-volight"></i>
									<i class="icon icon-record "></i>
									<!-- 如果不存在该类别信息，icon-*light 去除，让图片“熄灭” -->
									<i class="icon icon-note icon-ntlight"></i>
									<i class="icon icon-arrow-l"></i>
								</span>
								<span class="span-icons-r">
									<i class="icon icon-arrow-r"></i>
									<a class="a-r-link">导出档案</a>
								</span>
								<div class="div-tags">
									<strong class="s-tag">涉毒</strong>
									<strong class="s-tag">高危</strong>
									<strong class="s-tag">上访</strong>
									<strong class="s-tag">前科</strong>
									<strong class="s-tag">在逃</strong>
								</div>
							</div>
							<div class="div-bd">
								<figure class="fg-item">
									<div class="div-img-contain" data-srcoll-horizontal> 
	                                    <i class="icon-page icon-toggle-left"></i>
	                                    <ul class="ul-rybase-photos">
	                                        <li class="li-rybase-photo">
	                                            <img src="../images/cp-detail/demo1.png" alt="人员头像" class="img-photo">
	                                        </li>
	                                        <li class="li-rybase-photo">
	                                            <img src="../images/cp-detail/demo2.png" alt="人员头像" class="img-photo">
	                                        </li>
	                                        <li class="li-rybase-photo">
	                                            <img src="../images/cp-detail/demo3.png" alt="人员头像" class="img-photo">
	                                        </li>
	                                    </ul>
	                                    <i class="icon-page icon-toggle-right"></i> 
	                                </div> 
	                                <div class="d-upload">
	                                	<span class="sp-upload">上传照片</span>
	                                </div>
								</figure>
								<div class="div-main">
									<ul class="ul-data-clsfy">
										<li class="li-data i-hotel i-not0-hotel">
											<h5 class="h5-data">旅馆</h5>
											<p class="p-data">11</p>
										</li>
										<li class="li-data i-plane i-not0-plane">
											<h5 class="h5-data">飞机</h5>
											<p class="p-data">3</p>
										</li>
										<li class="li-data i-net i-not0-net">
											<h5 class="h5-data">上网</h5>
											<p class="p-data">14</p>
										</li>
										<!-- 注意：如果数据为空,即0，可以将样式名称i-not0-*去掉,向上一样 -->
										<li class="li-data i-train ">
											<h5 class="h5-data">火车</h5>
											<p class="p-data">0</p>
										</li>
									</ul>
									<div class="div-table-detail">
										<table class="tb-detail">
											<tr>
												<td class="td-dtl">
													<span class="span-tt">姓名：</span>
													<span class="span-ct">张万华</span>
												</td>
												<td class="td-dtl">
													<span class="span-tt">国籍：</span>
													<span class="span-ct">中国</span>
												</td>
												<td class="td-dtl">
													<span class="span-tt">性别：</span>
													<span class="span-ct">男</span>
												</td>
											</tr>
											<tr>
												<td class="td-dtl">
													<span class="span-tt">身份证：</span>
													<span class="span-ct">1111111111111111111111</span>
												</td>
												<td class="td-dtl">
													<span class="span-tt">民族：</span>
													<span class="span-ct">汉族</span>
												</td>
												<td class="td-dtl">
													<span class="span-tt">生日：</span>
													<span class="span-ct">
														1975-08-09
													</span>
												</td>
											</tr>
											<tr>
												<td class="td-dtl" colspan="3">
													<span class="span-tt">住所详细地址：</span>
													<span class="span-ct">重庆市渝北区金龙路272号重庆国安局<i class="ic-anonymous"></i></span>
												</td>
											</tr>
										</table>
									</div>
								</div>
							</div>
						</div>
						<div class="d-c-item">
							<h2 class="h2-tl">
							<a href="#" class="a-r-link">导出Excel</a>
							<a href="#" class="a-r-link">时间轴</a>
							<span class="sp-tl">
								<i class="icon-star"></i>公安请求服务
							</span>
							</h2>
							<div class="d-ctt">
								<div class="d-ctt-item">
									<h3 class="h3-ctt-tt"><span class="sp-h3-tt">火车购票记录(68)</span></h3>
									<table class="yc_list">
										<tr class="yc-list-li yc-li-head">
											<td class="yc-list-cell cell-1">发车时间</td>
											<td class="yc-list-cell cell-2">票号</td>
											<td class="yc-list-cell cell-3">车次</td>
											<td class="yc-list-cell cell-4">出发站</td>
											<td class="yc-list-cell cell-5">到达站</td>
											<td class="yc-list-cell cell-5">状态</td>
										</tr>
										<tr class="yc-list-li">
											<td class="yc-list-cell">
												2013-11-08
											</td>
											<td class="yc-list-cell">L044564</td>
											<td class="yc-list-cell">K7703</td>
											<td class="yc-list-cell">北京</td>
											<td class="yc-list-cell">德州</td>
											<td class="yc-list-cell">正常</td>
										</tr>
										<tr class="yc-list-li">
											<td class="yc-list-cell">
												2013-11-08
											</td>
											<td class="yc-list-cell">L044564</td>
											<td class="yc-list-cell">K7703</td>
											<td class="yc-list-cell">北京</td>
											<td class="yc-list-cell">德州</td>
											<td class="yc-list-cell">正常</td>
										</tr>
										<tr class="yc-list-li">
											<td class="yc-list-cell">
												2013-11-08
											</td>
											<td class="yc-list-cell">L044564</td>
											<td class="yc-list-cell">K7703</td>
											<td class="yc-list-cell">北京</td>
											<td class="yc-list-cell">德州</td>
											<td class="yc-list-cell">正常</td>
										</tr>
										<tr class="yc-list-li">
											<td class="yc-list-cell">
												2013-11-08
											</td>
											<td class="yc-list-cell">L044564</td>
											<td class="yc-list-cell">K7703</td>
											<td class="yc-list-cell">北京</td>
											<td class="yc-list-cell">德州</td>
											<td class="yc-list-cell">正常</td>
										</tr>
										<tr class="yc-list-li">
											<td class="yc-list-cell">
												2013-11-08
											</td>
											<td class="yc-list-cell">L044564</td>
											<td class="yc-list-cell">K7703</td>
											<td class="yc-list-cell">北京</td>
											<td class="yc-list-cell">德州</td>
											<td class="yc-list-cell">正常</td>
										</tr>
										<tr class="yc-list-li">
											<td class="yc-list-cell">
												2013-11-08
											</td>
											<td class="yc-list-cell">L044564</td>
											<td class="yc-list-cell">K7703</td>
											<td class="yc-list-cell">北京</td>
											<td class="yc-list-cell">德州</td>
											<td class="yc-list-cell">正常</td>
										</tr>
										<tr class="yc-list-li">
											<td class="yc-list-cell">
												2013-11-08
											</td>
											<td class="yc-list-cell">L044564</td>
											<td class="yc-list-cell">K7703</td>
											<td class="yc-list-cell">北京</td>
											<td class="yc-list-cell">德州</td>
											<td class="yc-list-cell">正常</td>
										</tr>
										<tr class="yc-list-li">
											<td class="yc-list-cell">
												2013-11-08
											</td>
											<td class="yc-list-cell">L044564</td>
											<td class="yc-list-cell">K7703</td>
											<td class="yc-list-cell">北京</td>
											<td class="yc-list-cell">德州</td>
											<td class="yc-list-cell">正常</td>
										</tr>
										<tr class="yc-list-li">
											<td class="yc-list-cell">
												2013-11-08
											</td>
											<td class="yc-list-cell">L044564</td>
											<td class="yc-list-cell">K7703</td>
											<td class="yc-list-cell">北京</td>
											<td class="yc-list-cell">德州</td>
											<td class="yc-list-cell">正常</td>
										</tr>
										<tr class="yc-list-li">
											<td class="yc-list-cell">
												2013-11-08
											</td>
											<td class="yc-list-cell">L044564</td>
											<td class="yc-list-cell">K7703</td>
											<td class="yc-list-cell">北京</td>
											<td class="yc-list-cell">德州</td>
											<td class="yc-list-cell">正常</td>
										</tr>
									</table>
									<div class="d-ctt-pages" id="page1">
										
									</div>
								</div>
								<div class="d-ctt-item">
									<h3 class="h3-ctt-tt"><span class="sp-h3-tt">飞机离岗记录(1)</span></h3>
									<table class="yc_list">
										<tr class="yc-list-li yc-li-head">
											<td class="yc-list-cell cell-1">进港时间</td>
											<td class="yc-list-cell cell-2">航班号</td>
											<td class="yc-list-cell cell-3">航班日期</td>
											<td class="yc-list-cell cell-4">目的地</td>
											<td class="yc-list-cell cell-5">座号</td>
										</tr>
										<tr class="yc-list-li">
											<td class="yc-list-cell">
												2013-11-08 21:00
											</td>
											<td class="yc-list-cell">SC1198</td>
											<td class="yc-list-cell">2013-11-08</td>
											<td class="yc-list-cell">北京</td>
											<td class="yc-list-cell">21B</td>
										</tr>
									</table>
								</div>
								<div class="d-ctt-item">
									<h3 class="h3-ctt-tt"><span class="sp-h3-tt">飞机订票记录(2)</span></h3>
									<table class="yc_list">
										<tr class="yc-list-li yc-li-head">
											<td class="yc-list-cell cell-1">进港时间</td>
											<td class="yc-list-cell cell-2">航班号</td>
											<td class="yc-list-cell cell-3">航班日期</td>
											<td class="yc-list-cell cell-4">目的地</td>
											<td class="yc-list-cell cell-5">座号</td>
										</tr>
										<tr class="yc-list-li">
											<td class="yc-list-cell">
												2013-11-08 21:00
											</td>
											<td class="yc-list-cell">SC1198</td>
											<td class="yc-list-cell">2013-11-08</td>
											<td class="yc-list-cell">北京</td>
											<td class="yc-list-cell">21B</td>
										</tr>
										<tr class="yc-list-li">
											<td class="yc-list-cell">
												2013-11-08 21:00
											</td>
											<td class="yc-list-cell">SC1198</td>
											<td class="yc-list-cell">2013-11-08</td>
											<td class="yc-list-cell">北京</td>
											<td class="yc-list-cell">21B</td>
										</tr>
									</table>
								</div>
							</div>
						</div>
						<div class="d-c-item">
							<h2 class="h2-tl">
							<a href="#" class="a-r-link">管理员模式</a>
							<span class="sp-tl">
								<i class="icon-star"></i>山东警务云计算数据中心
							</span>
							</h2>
							<div class="d-ctt">
								<div class="d-ctt-item">
									<h3 class="h3-ctt-tt">
									<span class="sp-h3-tt">火车搭乘(6)</span>
									<span class="sp-ipt-wrap">
										<input type="text" class="ipt-f"/>
									</span>
									至
									<span class="sp-ipt-wrap">
										<input type="text" class="ipt-f"/>
									</span>
									<button class="btn-f">查询</button>
									</h3>
									<h4 class="h4-ctt-tt">
									<a href="#" class="a-l-link">千度轨迹专搜</a>
									<a href="#" class="a-l-under">+ 应用</a>
									</h4>
									<table class="yc_list">
										<tr class="yc-list-li yc-li-head">
											<td class="yc-list-cell cell-1">发车时间</td>
											<td class="yc-list-cell cell-2">事项</td>
											<td class="yc-list-cell cell-3">类别</td>
											<td class="yc-list-cell cell-4">功能</td>
										</tr>
										<tr class="yc-list-li">
											<td class="yc-list-cell">
												2013-11-08
											</td>
											<td class="yc-list-cell">
												乘坐K86,从<strong class="st-mark">济南</strong>到<strong class="st-mark">德州</strong>
											</td>
											<td class="yc-list-cell">火车</td>
											<td class="yc-list-cell">
												<a href="#" class="a-spec-a">专题应用</a>
											</td>
										</tr>
										<tr class="yc-list-li">
											<td class="yc-list-cell">
												2013-11-08
											</td>
											<td class="yc-list-cell">
												乘坐K86,从<strong class="st-mark">济南</strong>到<strong class="st-mark">德州</strong>
											</td>
											<td class="yc-list-cell">火车</td>
											<td class="yc-list-cell">
												<a href="#" class="a-spec-a">专题应用</a>
											</td>
										</tr>
										<tr class="yc-list-li">
											<td class="yc-list-cell">
												2013-11-08
											</td>
											<td class="yc-list-cell">
												乘坐K86,从<strong class="st-mark">济南</strong>到<strong class="st-mark">德州</strong>
											</td>
											<td class="yc-list-cell">火车</td>
											<td class="yc-list-cell">
												<a href="#" class="a-spec-a">专题应用</a>
											</td>
										</tr>
										<tr class="yc-list-li">
											<td class="yc-list-cell">
												2013-11-08
											</td>
											<td class="yc-list-cell">
												乘坐K86,从<strong class="st-mark">济南</strong>到<strong class="st-mark">德州</strong>
											</td>
											<td class="yc-list-cell">火车</td>
											<td class="yc-list-cell">
												<a href="#" class="a-spec-a">专题应用</a>
											</td>
										</tr>
										<tr class="yc-list-li">
											<td class="yc-list-cell">
												2013-11-08
											</td>
											<td class="yc-list-cell">
												乘坐K86,从<strong class="st-mark">济南</strong>到<strong class="st-mark">德州</strong>
											</td>
											<td class="yc-list-cell">火车</td>
											<td class="yc-list-cell">
												<a href="#" class="a-spec-a">专题应用</a>
											</td>
										</tr>
										<tr class="yc-list-li">
											<td class="yc-list-cell">
												2013-11-08
											</td>
											<td class="yc-list-cell">
												乘坐K86,从<strong class="st-mark">济南</strong>到<strong class="st-mark">德州</strong>
											</td>
											<td class="yc-list-cell">火车</td>
											<td class="yc-list-cell">
												<a href="#" class="a-spec-a">专题应用</a>
											</td>
										</tr>
									</table>
								</div>
								<div class="d-ctt-item">
									<h3 class="h3-ctt-tt">
									<span class="sp-h3-tt">火车站核查(1)</span>
									<span class="sp-ipt-wrap">
										<input type="text" class="ipt-f"/>
									</span>
									至
									<span class="sp-ipt-wrap">
										<input type="text" class="ipt-f"/>
									</span>
									<button class="btn-f">查询</button>
									</h3>
									<table class="yc_list">
										<tr class="yc-list-li yc-li-head">
											<td class="yc-list-cell cell-1">发车日期</td>
											<td class="yc-list-cell cell-2">事项</td>
											<td class="yc-list-cell cell-3">类型</td>
											<td class="yc-list-cell cell-4">功能</td>
										</tr>
										<tr class="yc-list-li">
											<td class="yc-list-cell">
												2013-11-08
											</td>
											<td class="yc-list-cell">乘坐K86,从<strong class="st-mark">济南</strong>到<strong class="st-mark">德州</strong></td>
											<td class="yc-list-cell">火车</td>
											<td class="yc-list-cell"><a href="#" class="a-spec-a">专题应用</a></td>
										</tr>
									</table>
								</div>
								<div class="d-ctt-item">
									<h3 class="h3-ctt-tt">
									<span class="sp-h3-tt">飞机搭乘(2)</span>
									<span class="sp-ipt-wrap">
										<input type="text" class="ipt-f"/>
									</span>
									至
									<span class="sp-ipt-wrap">
										<input type="text" class="ipt-f"/>
									</span>
									<button class="btn-f">查询</button>
									</h3>
									<h4 class="h4-ctt-tt">
									<a href="#" class="a-l-link">千度轨迹专搜</a>
									<a href="#" class="a-l-under">+ 应用</a>
									</h4>
									<table class="yc_list">
										<tr class="yc-list-li yc-li-head">
											<td class="yc-list-cell cell-1">发车日期</td>
											<td class="yc-list-cell cell-2">事项</td>
											<td class="yc-list-cell cell-3">类型</td>
											<td class="yc-list-cell cell-4">功能</td>
										</tr>
										<tr class="yc-list-li">
											<td class="yc-list-cell">
												2013-11-08
											</td>
											<td class="yc-list-cell">乘坐K86,从<strong class="st-mark">济南</strong>到<strong class="st-mark">德州</strong></td>
											<td class="yc-list-cell">飞机</td>
											<td class="yc-list-cell"><a href="#" class="a-spec-a">专题应用</a></td>
										</tr>
										<tr class="yc-list-li">
											<td class="yc-list-cell">
												2013-11-08
											</td>
											<td class="yc-list-cell">乘坐K86,从<strong class="st-mark">济南</strong>到<strong class="st-mark">德州</strong></td>
											<td class="yc-list-cell">飞机</td>
											<td class="yc-list-cell"><a href="#" class="a-spec-a">专题应用</a></td>
										</tr>
									</table>
								</div>
								<div class="d-ctt-item">
									<h3 class="h3-ctt-tt">
									<span class="sp-h3-tt">宾馆住宿(103)</span>
									<span class="sp-ipt-wrap">
										<input type="text" class="ipt-f"/>
									</span>
									至
									<span class="sp-ipt-wrap">
										<input type="text" class="ipt-f"/>
									</span>
									<button class="btn-f">查询</button>
									</h3>
									<h4 class="h4-ctt-tt">
									<a href="#" class="a-l-under">宾馆住宿使用说明</a>
									</h4>
									<table class="yc_list">
										<tr class="yc-list-li yc-li-head">
											<td class="yc-list-cell cell-1">入住时间</td>
											<td class="yc-list-cell cell-2">退宿时间</td>
											<td class="yc-list-cell cell-3">所属地</td>
											<td class="yc-list-cell cell-4">宾馆</td>
											<td class="yc-list-cell cell-5">房号</td>
											<td class="yc-list-cell cell-5">功能</td>
										</tr>
										<tr class="yc-list-li">
											<td class="yc-list-cell">
												2013-11-08 22:57
											</td>
											<td class="yc-list-cell">2013-11-09 22:57</td>
											<td class="yc-list-cell">德州</td>
											<td class="yc-list-cell"><a href="#" class="a-spec-t">泰和宾馆</a></td>
											<td class="yc-list-cell">206</td>
											<td class="yc-list-cell"><a href="#" class="a-spec-a">专题应用</a></td>
										</tr>
										<tr class="yc-list-li">
											<td class="yc-list-cell">
												2013-11-08 22:57
											</td>
											<td class="yc-list-cell">2013-11-09 22:57</td>
											<td class="yc-list-cell">德州</td>
											<td class="yc-list-cell"><a href="#" class="a-spec-t">泰和宾馆</a></td>
											<td class="yc-list-cell">206</td>
											<td class="yc-list-cell"><a href="#" class="a-spec-a">专题应用</a></td>
										</tr>
										<tr class="yc-list-li">
											<td class="yc-list-cell">
												2013-11-08 22:57
											</td>
											<td class="yc-list-cell">2013-11-09 22:57</td>
											<td class="yc-list-cell">德州</td>
											<td class="yc-list-cell"><a href="#" class="a-spec-t">泰和宾馆</a></td>
											<td class="yc-list-cell">206</td>
											<td class="yc-list-cell"><a href="#" class="a-spec-a">专题应用</a></td>
										</tr>
										<tr class="yc-list-li">
											<td class="yc-list-cell">
												2013-11-08 22:57
											</td>
											<td class="yc-list-cell">2013-11-09 22:57</td>
											<td class="yc-list-cell">德州</td>
											<td class="yc-list-cell"><a href="#" class="a-spec-t">泰和宾馆</a></td>
											<td class="yc-list-cell">206</td>
											<td class="yc-list-cell"><a href="#" class="a-spec-a">专题应用</a></td>
										</tr>
										<tr class="yc-list-li">
											<td class="yc-list-cell">
												2013-11-08 22:57
											</td>
											<td class="yc-list-cell">2013-11-09 22:57</td>
											<td class="yc-list-cell">德州</td>
											<td class="yc-list-cell"><a href="#" class="a-spec-t">泰和宾馆</a></td>
											<td class="yc-list-cell">206</td>
											<td class="yc-list-cell"><a href="#" class="a-spec-a">专题应用</a></td>
										</tr>
										<tr class="yc-list-li">
											<td class="yc-list-cell">
												2013-11-08 22:57
											</td>
											<td class="yc-list-cell">2013-11-09 22:57</td>
											<td class="yc-list-cell">德州</td>
											<td class="yc-list-cell"><a href="#" class="a-spec-t">泰和宾馆</a></td>
											<td class="yc-list-cell">206</td>
											<td class="yc-list-cell"><a href="#" class="a-spec-a">专题应用</a></td>
										</tr>
										<tr class="yc-list-li">
											<td class="yc-list-cell">
												2013-11-08 22:57
											</td>
											<td class="yc-list-cell">2013-11-09 22:57</td>
											<td class="yc-list-cell">德州</td>
											<td class="yc-list-cell"><a href="#" class="a-spec-t">泰和宾馆</a></td>
											<td class="yc-list-cell">206</td>
											<td class="yc-list-cell"><a href="#" class="a-spec-a">专题应用</a></td>
										</tr>
										<tr class="yc-list-li">
											<td class="yc-list-cell">
												2013-11-08 22:57
											</td>
											<td class="yc-list-cell">2013-11-09 22:57</td>
											<td class="yc-list-cell">德州</td>
											<td class="yc-list-cell"><a href="#" class="a-spec-t">泰和宾馆</a></td>
											<td class="yc-list-cell">206</td>
											<td class="yc-list-cell"><a href="#" class="a-spec-a">专题应用</a></td>
										</tr>
										<tr class="yc-list-li">
											<td class="yc-list-cell">
												2013-11-08 22:57
											</td>
											<td class="yc-list-cell">2013-11-09 22:57</td>
											<td class="yc-list-cell">德州</td>
											<td class="yc-list-cell"><a href="#" class="a-spec-t">泰和宾馆</a></td>
											<td class="yc-list-cell">206</td>
											<td class="yc-list-cell"><a href="#" class="a-spec-a">专题应用</a></td>
										</tr>
										<tr class="yc-list-li">
											<td class="yc-list-cell">
												2013-11-08 22:57
											</td>
											<td class="yc-list-cell">2013-11-09 22:57</td>
											<td class="yc-list-cell">德州</td>
											<td class="yc-list-cell"><a href="#" class="a-spec-t">泰和宾馆</a></td>
											<td class="yc-list-cell">206</td>
											<td class="yc-list-cell"><a href="#" class="a-spec-a">专题应用</a></td>
										</tr>
										<tr class="yc-list-li">
											<td class="yc-list-cell">
												2013-11-08 22:57
											</td>
											<td class="yc-list-cell">2013-11-09 22:57</td>
											<td class="yc-list-cell">德州</td>
											<td class="yc-list-cell"><a href="#" class="a-spec-t">泰和宾馆</a></td>
											<td class="yc-list-cell">206</td>
											<td class="yc-list-cell"><a href="#" class="a-spec-a">专题应用</a></td>
										</tr>
									</table>
									<div class="d-ctt-pages" id="page2">
										
									</div>
								</div>
								<div class="d-ctt-item">
									<h3 class="h3-ctt-tt">
									<span class="sp-h3-tt">网吧上网(13)</span>
									<span class="sp-ipt-wrap">
										<input type="text" class="ipt-f"/>
									</span>
									至
									<span class="sp-ipt-wrap">
										<input type="text" class="ipt-f"/>
									</span>
									<button class="btn-f">查询</button>
									</h3>
									<h4 class="h4-ctt-tt">
									<a href="#" class="a-l-link">上网记录统计</a>
									<a href="#" class="a-l-link">千度轨迹专搜</a>
									<a href="#" class="a-l-under">+ 应用</a>
									</h4>
									<table class="yc_list">
										<tr class="yc-list-li yc-li-head">
											<td class="yc-list-cell cell-1">上机时间</td>
											<td class="yc-list-cell cell-2">下机时间</td>
											<td class="yc-list-cell cell-3">所属地</td>
											<td class="yc-list-cell cell-4">网吧</td>
											<td class="yc-list-cell cell-5">地址</td>
											<td class="yc-list-cell cell-5">功能</td>
										</tr>
										<tr class="yc-list-li">
											<td class="yc-list-cell">
												2013-11-08 22:57
											</td>
											<td class="yc-list-cell">2013-11-09 23:57</td>
											<td class="yc-list-cell">德州</td>
											<td class="yc-list-cell"><a href="#" class="a-spec-t">槐荫凯华网吧</a></td>
											<td class="yc-list-cell">槐荫区***路商品房</td>
											<td class="yc-list-cell">
												<a href="#" class="a-spec-a">专题应用</a>
											</td>
										</tr>
										<tr class="yc-list-li">
											<td class="yc-list-cell">
												2013-11-08 22:57
											</td>
											<td class="yc-list-cell">2013-11-09 23:57</td>
											<td class="yc-list-cell">德州</td>
											<td class="yc-list-cell"><a href="#" class="a-spec-t">槐荫凯华网吧</a></td>
											<td class="yc-list-cell">槐荫区***路商品房</td>
											<td class="yc-list-cell">
												<a href="#" class="a-spec-a">专题应用</a>
											</td>
										</tr>
										<tr class="yc-list-li">
											<td class="yc-list-cell">
												2013-11-08 22:57
											</td>
											<td class="yc-list-cell">2013-11-09 23:57</td>
											<td class="yc-list-cell">德州</td>
											<td class="yc-list-cell"><a href="#" class="a-spec-t">槐荫凯华网吧</a></td>
											<td class="yc-list-cell">槐荫区***路商品房</td>
											<td class="yc-list-cell">
												<a href="#" class="a-spec-a">专题应用</a>
											</td>
										</tr>
										<tr class="yc-list-li">
											<td class="yc-list-cell">
												2013-11-08 22:57
											</td>
											<td class="yc-list-cell">2013-11-09 23:57</td>
											<td class="yc-list-cell">德州</td>
											<td class="yc-list-cell"><a href="#" class="a-spec-t">槐荫凯华网吧</a></td>
											<td class="yc-list-cell">槐荫区***路商品房</td>
											<td class="yc-list-cell">
												<a href="#" class="a-spec-a">专题应用</a>
											</td>
										</tr>
										<tr class="yc-list-li">
											<td class="yc-list-cell">
												2013-11-08 22:57
											</td>
											<td class="yc-list-cell">2013-11-09 23:57</td>
											<td class="yc-list-cell">德州</td>
											<td class="yc-list-cell"><a href="#" class="a-spec-t">槐荫凯华网吧</a></td>
											<td class="yc-list-cell">槐荫区***路商品房</td>
											<td class="yc-list-cell">
												<a href="#" class="a-spec-a">专题应用</a>
											</td>
										</tr>
										<tr class="yc-list-li">
											<td class="yc-list-cell">
												2013-11-08 22:57
											</td>
											<td class="yc-list-cell">2013-11-09 23:57</td>
											<td class="yc-list-cell">德州</td>
											<td class="yc-list-cell"><a href="#" class="a-spec-t">槐荫凯华网吧</a></td>
											<td class="yc-list-cell">槐荫区***路商品房</td>
											<td class="yc-list-cell">
												<a href="#" class="a-spec-a">专题应用</a>
											</td>
										</tr>
										<tr class="yc-list-li">
											<td class="yc-list-cell">
												2013-11-08 22:57
											</td>
											<td class="yc-list-cell">2013-11-09 23:57</td>
											<td class="yc-list-cell">德州</td>
											<td class="yc-list-cell"><a href="#" class="a-spec-t">槐荫凯华网吧</a></td>
											<td class="yc-list-cell">槐荫区***路商品房</td>
											<td class="yc-list-cell">
												<a href="#" class="a-spec-a">专题应用</a>
											</td>
										</tr>
										<tr class="yc-list-li">
											<td class="yc-list-cell">
												2013-11-08 22:57
											</td>
											<td class="yc-list-cell">2013-11-09 23:57</td>
											<td class="yc-list-cell">德州</td>
											<td class="yc-list-cell"><a href="#" class="a-spec-t">槐荫凯华网吧</a></td>
											<td class="yc-list-cell">槐荫区***路商品房</td>
											<td class="yc-list-cell">
												<a href="#" class="a-spec-a">专题应用</a>
											</td>
										</tr>
										<tr class="yc-list-li">
											<td class="yc-list-cell">
												2013-11-08 22:57
											</td>
											<td class="yc-list-cell">2013-11-09 23:57</td>
											<td class="yc-list-cell">德州</td>
											<td class="yc-list-cell"><a href="#" class="a-spec-t">槐荫凯华网吧</a></td>
											<td class="yc-list-cell">槐荫区***路商品房</td>
											<td class="yc-list-cell">
												<a href="#" class="a-spec-a">专题应用</a>
											</td>
										</tr>
										<tr class="yc-list-li">
											<td class="yc-list-cell">
												2013-11-08 22:57
											</td>
											<td class="yc-list-cell">2013-11-09 23:57</td>
											<td class="yc-list-cell">德州</td>
											<td class="yc-list-cell"><a href="#" class="a-spec-t">槐荫凯华网吧</a></td>
											<td class="yc-list-cell">槐荫区***路商品房</td>
											<td class="yc-list-cell">
												<a href="#" class="a-spec-a">专题应用</a>
											</td>
										</tr>
									</table>
									<div class="d-ctt-pages" id="page3">
										
									</div>
								</div>
								<div class="d-ctt-item">
									<h3 class="h3-ctt-tt">
									<span class="sp-h3-tt">流口登记(1)</span>
									<span class="sp-ipt-wrap">
										<input type="text" class="ipt-f"/>
									</span>
									至
									<span class="sp-ipt-wrap">
										<input type="text" class="ipt-f"/>
									</span>
									<button class="btn-f">查询</button>
									</h3>
									<h4 class="h4-ctt-tt">
									<a href="#" class="a-l-under">+ 应用</a>
									</h4>
									<table class="yc_list">
										<tr class="yc-list-li yc-li-head">
											<td class="yc-list-cell cell-1">日期</td>
											<td class="yc-list-cell cell-2">事项</td>
											<td class="yc-list-cell cell-3">类别</td>
											<td class="yc-list-cell cell-4">功能</td>
										</tr>
										<tr class="yc-list-li">
											<td class="yc-list-cell">
												2013-11-08 22:57
											</td>
											<td class="yc-list-cell">2013-11-09 23:57至期间，暂住355号</td>
											<td class="yc-list-cell">流口</td>
											<td class="yc-list-cell">
												<a href="#" class="a-spec-a">专题应用</a>
											</td>
										</tr>
									</table>
								</div>
								<div class="d-ctt-item">
									<h3 class="h3-ctt-tt">
									<span class="sp-h3-tt">银行核查(2)</span>
									<span class="sp-ipt-wrap">
										<input type="text" class="ipt-f"/>
									</span>
									至
									<span class="sp-ipt-wrap">
										<input type="text" class="ipt-f"/>
									</span>
									<button class="btn-f">查询</button>
									</h3>
									<h4 class="h4-ctt-tt">
									<a href="#" class="a-l-under">+ 应用</a>
									</h4>
									<table class="yc_list">
										<tr class="yc-list-li yc-li-head">
											<td class="yc-list-cell cell-1">日期</td>
											<td class="yc-list-cell cell-2">事项</td>
											<td class="yc-list-cell cell-3">类别</td>
										</tr>
										<tr class="yc-list-li">
											<td class="yc-list-cell">
												2013-11-08 22:57
											</td>
											<td class="yc-list-cell cell-long">
												业务类型：<strong class="str-mark-b">"银行账户业务"</strong>核查结果：<strong class="str-mark-b">"公民身份证号码与姓名一致，且存在照片"</strong>核查结果：<strong class="str-mark-b">"公民身份证号码与姓名一致，且存在照片"</strong>核查人：<strong class="str-mark-b">"杜洪"</strong>详细地址：<strong class="str-mark-b">"山东省****路"</strong>联系电话：<strong class="str-mark-b">"0534-99999"</strong>
											</td>
											<td class="yc-list-cell">银联</td>
										</tr>
										<tr class="yc-list-li">
											<td class="yc-list-cell">
												2013-11-08 22:57
											</td>
											<td class="yc-list-cell cell-long">
												业务类型：<strong class="str-mark-b">"银行账户业务"</strong>核查结果：<strong class="str-mark-b">"公民身份证号码与姓名一致，且存在照片"</strong>核查结果：<strong class="str-mark-b">"公民身份证号码与姓名一致，且存在照片"</strong>核查人：<strong class="str-mark-b">"杜洪"</strong>详细地址：<strong class="str-mark-b">"山东省****路"</strong>联系电话：<strong class="str-mark-b">"0534-99999"</strong>
											</td>
											<td class="yc-list-cell">银联</td>
										</tr>
									</table>
								</div>
							</div>
						</div>
						<div class="d-c-item">
							<h2 class="h2-tl">
							<span class="sp-tl">
								<i class="icon-star"></i>备注
							</span>
							</h2>
							<div class="d-ctt">
								<div class="d-txt-area">
									<textarea name="pj" class="text-area"></textarea>
								</div>
								<div class="d-text-btns">
									<button class="btn-publish">发布</button>
									<i class="icon-pic"></i><span class="sp-pic">图片</span>
								</div>
								<figure class="fg">
									<img src="../images/cp-qd-detail-other/touxiang.png" alt="" class="img-usr-photo">
									<div class="d-content">
										<h3 class="h3-tt">王世鑫（山东省公安厅通信处）</h3>
										<p class="p-sub-tt">用户ID：wangshixin 手机号：1888898989</p>
										<p class="p-ct">
											内容已经完成备注
										</p>
									</div>
								</figure>
								<figure class="fg">
									<img src="../images/cp-qd-detail-other/touxiang.png" alt="" class="img-usr-photo">
									<div class="d-content">
										<h3 class="h3-tt">王世鑫（山东省公安厅通信处）</h3>
										<p class="p-sub-tt">用户ID：wangshixin 手机号：1888898989</p>
										<p class="p-ct">
											内容已经完成备注
										</p>
									</div>
								</figure>
							</div>
						</div>
					</article>
				</div>
			</section>
			<footer class="footer">
                <div class="wrap">
                    <p class="f-p">山东省公安厅 <em class="em-s">浪潮集团技术支持</em><em class="em-s">建议使用ie9浏览器查看</em> <i class="icon-ie"></i><a class="link-ie">下载新版IE</a></p>
                    <p class="f-p">当前在线人数：<strong class="st-y">182</strong>
                        今日访问量：<strong class="st-b">2322</strong>
                        昨日访问量：<strong class="st-b">3223</strong>
                        本周访问量：<strong class="st-b">3232</strong>
                        本月访问量：<strong class="st-b">31313</strong>
                        累计访问量：<strong class="st-b">23232323</strong>
                    </p>
                </div>
            </footer>
			<section class="sec-popup hide">
				<div class="d-popup">
					<h2 class="h2-pp"><i class="icon-close">×</i>添加照片</h2>
					<div class="d-pp-img">
						<p class="p-ins">单次只能上传一张照片</p>
						<img  src="../images/cp-detail/demo1.png" class="img-upload">
					</div>
					<div class="d-pp-btns">
						<form class="fm-ul" onsubmit="return false" enctype="multipart/form-data" method="post" >
							<span class="sp-pp-select">选择照片</span>
							<input type="file" class="ipt-upload" accept="image/png,image/gif">
							<div class="d-pp-loaded">
								<a class="a-pp-replace">替换照片</a>
								<button class="sp-pp-upload">上传照片</button>
							</div>
						</form>
					</div>
				</div>
			</section>
			<div class="mask hide"></div>
		</div>
	</body>
</html>